<div class="flex">
    <div class="grow h-30 bg-slate-500 px-10 py-10">
        <a class="px-4 py-4 border-1 bg-slate-300 text-slate-600 hover:text-slate-800 font-bold shadow-lg" href="/students">Students</a>
        <a class="px-4 py-4 border-1 bg-slate-300 text-slate-600 hover:text-slate-800 font-bold shadow-lg" href="/teachers">Teachers</a>
        <a class="px-4 py-4 border-1 bg-slate-300 text-slate-600 hover:text-slate-800 font-bold shadow-lg" href="/lessons">Lessons</a>
        <a class="px-4 py-4 border-1 bg-slate-300 text-slate-600 hover:text-slate-800 font-bold shadow-lg" href="/month">Calendar</a>
        <a class="px-4 py-4 border-1 bg-slate-300 text-slate-600 hover:text-slate-800 font-bold shadow-lg" href="/notes">Notes</a>
    </div>
</div>