<div id="<%= dom_id event %>">
  <p>
    <strong>Event start:</strong>
    <%= event.event_start.strftime('%c') %>
  </p>

  <p>
    <strong>Event end:</strong>
    <%= event.event_end %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= event.description %>
  </p>

</div>
