<h1>Lesson Reminder</h1>

<p>
  <%= @greeting %>,
    Your lesson with <%= @lesson.teacher.first_name %> is scheduled for <%= @lesson.start_time.strftime("%c") %>.
    Please call if you wish to cancel. Thanks!

    Adam
</p>