<h2>Private Lesson Reminder</h2>

<p>
  <%= @greeting %>,<br>
    Your lesson with <%= @lesson.teacher.first_name %> is scheduled for <%= @lesson.start_time.strftime("%A, %B %d at %I:%M%p") %>.<br>
    Please call 250-480-9246 or email back if you need to reschedule your lesson.<br><br> Have a wonderful day!<br>

    Adam
</p>