<%= month_calendar(events: @lessons) do |date, lessons| %>
    <div class="absolute top-0 left-0">
    <%= date %>
    </div>
    <div class="ml-6 object-top">
    <% if lessons.present? %>
        <% @teachers.each do |teacher| %>
            <% x = lessons.select {|lesson| lesson.teacher_id == teacher.id} %>
            <% if x.count > 0 %>
            <%= teacher.first_name %> - <%= x.count %> <br>
            <% end %>
        <% end %>
    <% end %>
    </div>
  <% end %>
  