<table class="table-auto">
    <thead> 
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
    </thead>
    <tbody>
        <tr>
            <td class="px-4 py-4 text-slate-100" id="mon">
            <div class="bg-slate-500 px-2 py-2">Something</div>
            </td>
            <td class="px-4 py-4 text-slate-100" id="tues">
            <div class="bg-slate-500 px-2 py-2">Something</div>
            </td>
            <td class="px-4 py-4 text-slate-100" id="wed">
            <div class="bg-slate-500 px-2 py-2">Something</div>
            </td>
            <td class="px-4 py-4 text-slate-100" id="thu">
            <div class="bg-slate-500 px-2 py-2">Something</div>
            </td>
            <td class="px-4 py-4 text-slate-100" id="fri">
            <div class="bg-slate-500 px-2 py-2">Something</div>
            </td>
        </tr>
    </tbody>
</table>